.conten_menu
  %ul.menu
    %li.item
      %a{href:"#", class: "active"}
        Inicio
    %li.item
      %a{href:"#"}
        Quiénes somos
    %li.item
      %a{href:"#"}
        Servicios
    %li.item
      %a{href:"#"}
        Proyectos
    %li.item
      %a{href:"#"}
        Área de Negocios
    %li.item
      %a{href:"#"}
        Cliente
