.conten_menu
  %ul.menu
    %li.item{data:{name_render: "init"}}
      %a{href:"#", class: "active"}
        Inicio
    %li.item{data:{name_render: "history"}}
      %a{href:"#"}
        Quiénes somos
    %li.item{data:{name_render: "services"}}
      %a{href:"#"}
        Servicios
    %li.item{data:{name_render: "projects"}}
      %a{href:"#"}
        Proyectos
    %li.item{data:{name_render: "clients"}}
      %a{href:"#"}
        Cliente
    .item.show_team
      %a{href:"#"}
        Nuestro Equipo

