@import "compass";
.banner_inti{
  margin:             0 auto;
  width:              920px;
  height:             300px;
  overflow-y:         hidden; 
}
.title{
  padding:            5px 0;
  font-size:          16px;

}
.area_banner{
  margin:             0;
  padding:            0;
  .content_banner{
    width:            920px;
    height:           300px;
    @include border-radius(5px);
    @include inline-block;
  }
  .fade_text{
    color:            white;
    background-color: rgba(black, 0.7);
    padding:          10px;
    margin-left:      20px;
    text-align:       left;
    @include inline-block;
    @include text-shadow(1px 1px 1px black);
    @include border-radius(5px);
    .title{
      font-weight:      bold;
      margin-bottom:    10px;
    }
    .area_text{
      font-weight:      ligther;
      font-size:        14px;
      max-width:        350px;
    }
  }
}

.aditionals{
  color:                black;
  text-align:           center;
  padding:              25px 0;
  font-size:            0;
  
  .box_info{
    padding:            0 10px;
    width:              33%;
    @include box-sizing(border-box);
    @include inline-block(top);
    &.center{
      border-left:        1px solid black;
      border-right:        1px solid black;
    }
    .title{
      text-align:       center;
      font-weight:      bold;
    }
    .ilutration{
      padding:          10px 0;
    }
    .details{
      font-size:        12px;
      font-weight:      lighter;
    }
  }
}
#who{
  .title{
  }
  .ilustration{
    margin-top:         -23px;
    text-align:         right;
    position:           relative;
  }
  .content_text{
    position:           absolute;
    top:                40px;
    right:              15px;
    width:              700px;
    text-align:         left;
    @include box-sizing(border-box);
    .text_show{
      background-color:   rgba(white,0.7);
      line-height:        30px;
      padding:            20px 20px 20px 0;
      @include border-radius(5px);
    }
  }
}

.menu_vertical{
  position:               absolute;
  top:                    38px;
  left:                   20px;
  width:                  150px;
  .menu_who{
    margin:               0;
    padding:              0;
  }
  .item_who{
    padding:                5px 0;
    border-bottom:             1px solid gray;
    text-align:             left;
    list-style:             none;
    cursor:                 pointer;
    @include transition(padding, 0.2s);
    &:hover, &.active{
      padding-left:         10px;
      @include transition(padding, 0.2s);
    }
  }
}

#services{
  padding:                0 20px;
  .subtitle{
    text-decoration:    underline;
    font-weight:        normal;
    font-size:          20px;
    padding:            15px 0;
  }
  .block{
    line-height:        20px;
    padding:            15px;
    @include inline-block;
    @include box-sizing(border-box);
    min-height: 350px;
    &.electric{
      width:          565px;
    }
    &.images{
      width:          350px;
      height:         350px;
      padding:        0;
    }
  }
  .text{
    padding:          15px;
    font-size:        14px;
  }
  .image_gallery{
    margin:             0;
    padding:            0;
    .content_image{
      @include inline-block;
      img{@include border-radius(5px)}
    }
  }
}

#business{
  background: asset-url('area_business.jpg',image) center center;
  background-size: cover;
  padding: 40px;
  margin-top: -23px;
  .wrapper_business{
    background-color:     rgba(white,0.85);
    padding:              15px;
    @include border-radius(5px);
  }
}
#security{
  .image_content, .explain_text{
    @include inline-block(top);
  }
  .image_content{
    width:            250px;
  }
  .explain_text{
    width:            680px;
    padding:          15px;
    @include box-sizing(border-box);
  }
}

#clients{
  text-align:           center;
  font-size:            0;
  .image_wrappper{
    padding:            15px 30px;
    @include inline-block;
  }
  .image_logo{
    @include filter(grayscale(100%));
    @include transition(all, 0.3s);
    &:hover{
      @include filter(grayscale(0));
      @include transition(all, 0.6s);
    }
  }
}

#projects{
  .title{
    font-weight:      bold;
  }
  padding:            20px 60px;
  .list_project{
    .item_project{
      padding:         5px 0;
    }
  }
  .gallery_image{
    .images_show{
      @include inline-block;
    }
  }
}