-if @subrender == "history"
  %h2.title
    Historia
  .text_show
    Exoluz Limitada es una empresa que nace el año 2012 como solución de ofertas y servicios integrales para las empresa, reúne dos segmentos profesionales específicos con basta experiencia, contrastada en las áreas especializadas eléctrica y construcción.  
    Contamos con un equipo profesional experimentado y eficiente, capaz de cubrir los requerimientos en nuestras distintas áreas. Ingenieros Eléctricos y Constructores Civiles  cada uno de ellos con la adecuada experiencia en sus especialidades.



-if @subrender == "mision"
  %h2.title
    Misión
  .text_show
    Exoluz Limitada es una empresa que nace el año 2012 como solución de ofertas y servicios integrales para las empresa, reúne dos segmentos profesionales específicos con basta experiencia, contrastada en las áreas especializadas eléctrica y construcción  
    Contamos con un equipo profesional experimentado y eficiente, capaz de cubrir los requerimientos en nuestras distintas áreas. Ingenieros Eléctricos y Constructores Civiles  cada uno de ellos con la adecuada experiencia en sus especialidades.



-if @subrender == "vision"
  %h2.title
    Visión
  .text_show
    Exoluz Limitada es una empresa que nace el año 2012 como solución de ofertas y servicios integrales para las empresa, reúne dos segmentos profesionales específicos con basta experiencia, contrastada en las áreas especializadas eléctrica y construcción.
    Contamos con un equipo profesional experimentado y eficiente, capaz de cubrir los requerimientos en nuestras distintas áreas. Ingenieros Eléctricos y Constructores Civiles  cada uno de ellos con la adecuada experiencia en sus especialidades.

