#clients
	%a{href:"http://www.mallplaza.com", target:"_blank"}
		.image_wrappper
			=image_tag 'clientes/mall_plaza.jpg', width: 250, height: 150, alt: "Mall Plaza", class: 'image_logo'
	%a{href:"http://www.collosa.cl", target:"_blank"}
		.image_wrappper
			=image_tag 'clientes/collosa.jpg', width: 250, height: 150, alt: "Collosa", class: 'image_logo'
	%a{href:"http://www.dalkia.cl/es", target:"_blank"}
		.image_wrappper
			=image_tag 'clientes/dalkia.jpg', width: 250, height: 150, alt: "Dalkia", class: 'image_logo'
	%a{href:"http://www.tattersall.cl", target:"_blank"}
		.image_wrappper
			=image_tag 'clientes/tattersall.jpg', width: 250, height: 150, alt: "Grupo Tattersall", class: 'image_logo'
	%a{href:"http://www.nextel.cl", target:"_blank"}
		.image_wrappper
			=image_tag 'clientes/nextel.jpg', width: 250, height: 150, alt: "Nextel", class: 'image_logo'
	%a{href:"http://www.magallanes.cl", target:"_blank"}
		.image_wrappper
			=image_tag 'clientes/magallanes.jpg', width: 250, height: 150, alt: "Seguros Magallanes", class: 'image_logo'