#who
  .ilustration
    =image_tag 'who.png'
    .menu_vertical
      %ul.menu_who
        %li.item_who.active{data:{name_render: "who", subrender: "history", selector: "content_text"}}
          Historias
        %li.item_who{data:{name_render: "who", subrender: "mision", selector: "content_text"}}
          Misión
        %li.item_who{data:{name_render: "who", subrender: "vision", selector: "content_text"}}
          Visión
  
    .content_text
      -@subrender = "history"
      =render 'renders/who'