.banner_inti
  %ul.area_banner
    -(0..7).each do |i|
      %li.content_banner{style: "background: url(#{asset_path("pages/banner_#{i}.png")})"}
      
    

.aditionals
  .box_info
    .title
      Área de Negocio
    .ilutration
      =image_tag 'company.png', width: "150px", height: "70px"
    .details
      Exoluz se reconoce por ser una organización proactiva, cuya finalidad es dar soluciones generales a nuestros clientes, hoy contamos con 6 áreas de negocios:
      %ul.list_area_bussines
        %li
          Construcción
        %li
          Electricidad
        %li
          Habilitaciones
        %li
          Remodelaciones
        %li
          Movimientos de tierra
        %li
          Venta de grupos electrógenos
  .box_info.center
    .title
      Seguridad Laboral
    .ilutration
      =image_tag 'helmet_green.png', width: "70px", height: "70px"
    .details
      Consientes de lo importante que es la seguridad laboral, nos esforzamos cada día por incorporar medidas preventivas en relación al riesgo de nuestros procesos, con ello tratamos de garantizar la seguridad y salud laboral de todos nuestros trabajadores
  .box_info
    .title
      Medio Ambiente
    .ilutration
      =image_tag 'enviroment.png', width: "86px", height: "70px"
    .details
      En medio ambiente estamos comprometidos a minimizar en nuestros procesos los impactos ambientales y con ello mejorar la Calidad Ambiental de nuestro entorno.