.banner_inti
  %ul.area_banner
    
    %li.content_banner{style: "background: url(#{asset_path('pages/banner_0.png')})"}
      
        
        

    %li.content_banner{style: "background: url(#{asset_path('pages/banner_1.png')})"}

    %li.content_banner{style: "background: url(#{asset_path('pages/banner_2.png')})"}

    %li.content_banner{style: "background: url(#{asset_path('pages/banner_3.png')})"}
      .vertical_align
        -if false  
          .fade_text
          %h1.title
            Calidad en el Servicio
          .area_text
            El objetivo de Exoluz Limitada no es otro que apoyar permanentemente a nuestros clientes en el desarrollo de sus ideas y necesidades, conseguir con el esfuerzo de nuestro equipo y la confianza de nuestros...

.aditionals
  .box_info
    .title
      Área de Negocio
    .ilutration
      =image_tag 'company.png', width: "150px", height: "70px"
    .details
      AD:60 specializes in developing and designing cutting-edge apps for iPhone, iPad and Android devices. Whether it's a magazine, book or website, we will help you reach the right audience with well-architected, strong interface design.
  .box_info.center
    .title
      Seguridad Laboral
    .ilutration
      =image_tag 'helmet_green.png', width: "70px", height: "70px"
    .details
      Consientes de lo importante que es la seguridad laboral, nos esforzamos cada día por incorporar medidas preventivas en relación al riesgo de nuestros procesos, con ello tratamos de garantizar la seguridad y salud laboral de todos nuestros trabajadores
  .box_info
    .title
      Medio Ambiente
    .ilutration
      =image_tag 'enviroment.png', width: "86px", height: "70px"
    .details
      En medio ambiente estamos comprometidos a minimizar en nuestros procesos los impactos ambientales y con ello mejorar la Calidad Ambiental de nuestro entorno.