.banner_inti
  %ul.area_banner
    
    %li.content_banner{style: "background: url(#{asset_path('pages/banner_1.png')})"}
      .vertical_align
      .fade_text
        %h1.title
          Eléctricidad y Construcción
        .area_text
          El objetivo de Exoluz Limitada no es otro que apoyar permanentemente a nuestros clientes en el desarrollo de sus ideas y necesidades, conseguir con el esfuerzo de nuestro equipo y la confianza de nuestros...

    %li.content_banner{style: "background: url(#{asset_path('pages/banner_2.png')})"}
      .vertical_align
      .fade_text
        %h1.title
          Confianza y compromiso
        .area_text
          El objetivo de Exoluz Limitada no es otro que apoyar permanentemente a nuestros clientes en el desarrollo de sus ideas y necesidades, conseguir con el esfuerzo de nuestro equipo y la confianza de nuestros...

    %li.content_banner{style: "background: url(#{asset_path('pages/banner_3.png')})"}
      .vertical_align
      .fade_text
        %h1.title
          Calidad en el Servicio
        .area_text
          El objetivo de Exoluz Limitada no es otro que apoyar permanentemente a nuestros clientes en el desarrollo de sus ideas y necesidades, conseguir con el esfuerzo de nuestro equipo y la confianza de nuestros...

.aditionals
  .box_info
    .title
      Servicios
    .ilutration
      =image_tag 'services.png', width: "70px", height: "70px"
    .details
      AD:60 specializes in developing and designing cutting-edge apps for iPhone, iPad and Android devices. Whether it's a magazine, book or website, we will help you reach the right audience with well-architected, strong interface design.
  .box_info.center
    .title
      Compañia
    .ilutration
      =image_tag 'company.png', width: "150px", height: "70px"
    .details
      AD:60 specializes in developing and designing cutting-edge apps for iPhone, iPad and Android devices. Whether it's a magazine, book or website, we will help you reach the right audience with well-architected, strong interface design.
  .box_info
    .title
      Otro
    .ilutration
      =image_tag 'services.png', width: "70px", height: "70px"
    .details
      AD:60 specializes in developing and designing cutting-edge apps for iPhone, iPad and Android devices. Whether it's a magazine, book or website, we will help you reach the right audience with well-architected, strong interface design.