#projects
	.title
		Proyectos
	Nuestros proyectos buscan aportar soluciones a los procesos de negocio, implementando a través de la optimización de recursos mejoras en las practicas, de manera de enfocarnos en la búsqueda y proyección de negocios de cada uno de nuestros clientes.

	%ul.list_project
		%li.item_project
			Nuestros Proyectos
		%li.item_project
			Galeria de fotográfica

