#security
  .image_content
    =image_tag 'security.jpg'
  .explain_text
    .title
      Seguridad y Medio Ambiente
    %p
      Consientes de lo importante que es la seguridad laboral, nos esforzamos cada día por incorporar medidas preventivas en relación al riesgo de nuestros procesos, con ello tratamos de garantizar la seguridad y salud laboral de todos nuestros trabajadores.
    %p
      En medio ambiente estamos comprometidos a minimizar en nuestros procesos los impactos ambientales y con ello mejorar la Calidad Ambiental de nuestro entorno.
