#services
  .block.electric
    %h1.title
      Servicios Eléctricos Integrales.
    .text
      Tenemos la capacidad de apoyar a nuestros desde la asesoría técnica, desarrollo de proyectos eléctricos, ejecución y puesta en marcha.
      %ul.list_quality
        %li
          Elaboración de proyectos eléctricos MT y BT 
        %li
          Ejecución de proyectos eléctricos MT y BT 
        %li
          Declaración de TE1 en la SEC 
        %li
          Empalmes Eléctricos MT y BT 
        %li
          Aumentos de Capacidad MT y BT 
        %li
          Mediciones Eléctricas 
        %li
          Fabricación y montaje de Tableros eléctricos 
        %li
          Instalación de Variadores de Frecuencia 
        %li
          Instalación de motores eléctricos 
        %li
          Diseño e instalación de mallas puesta a tierra 
        %li
          Mantenciones eléctricas 
        %li
          Luminarias.
        %li
          Alimentadores. 
        %li
          Instalaciones para habilitación de espacios abiertos y  confinados.
        %li
          Venta directa de Grupos Electrógenos desde 27 hasta 1750 KVA.  
        %li
          Venta de cables especiales a pedido y con especificación técnica. 


  .block.images
    %ul.image_gallery
      -(1..17).each do |i|
        %li.content_image
          =image_tag "photos/im_#{i}.jpg", width:"350px", height: "350px", alt:"imagen"
     
  .block.electric
    %h1.title
      Construcción y Obras Civiles
    .text
      Basados en la O.G.U.C, las normas del buen construir nuestro equipo esta calificado para desarrollar proyecto relacionados con las siguientes especialidades.
      %ul.list_quality
        %li
          Obras Viales
        %li
          Estructuras en Hormigón
        %li
          Estructuras Metálicas
        %li
          Estructuras Livianas – Habilitaciones de locales en Retail.
        %li
          Movimientos de Tierra
        %li
          Construcción de edificios o partes de ellos 



  