#services
  %h1.title
    Servicios

  .block.electric
    %h2.subtitle
      Servicios Eléctricos Integrales.
    .text
      Tenemos la capacidad de apoyar a nuestros desde la asesoría técnica, desarrollo de proyectos eléctricos, ejecución y puesta en marcha.
      %ul.list_quality
        %li
          Elaboración de proyectos eléctricos MT y BT 
        %li
          Ejecución de proyectos eléctricos MT y BT 
        %li
          Declaración de TE1 en la SEC 
        %li
          Empalmes Eléctricos MT y BT 
        %li
          Aumentos de Capacidad MT y BT 
        %li
          Mediciones Eléctricas 
        %li
          Fabricación y montaje de Tableros eléctricos 
        %li
          Instalación de Variadores de Frecuencia 
        %li
          Instalación de motores eléctricos 
        %li
          Diseño e instalación de mallas puesta a tierra 
        %li
          Mantenciones eléctricas 
        %li
          Luminarias.
        %li
          Alimentadores. 
        %li
          Instalaciones para habilitación de espacios abiertos y  confinados.
        %li
          Venta directa de Grupos Electrógenos desde 27 hasta 1750 KVA.  
        %li
          Venta de cables especiales a pedido y con especificación técnica. 


  .block.images
    %ul.image_gallery
      %li.content_image
        =image_tag 'photos/im_1.jpg', width:"350px", height: "350px", alt:"imagen"
      %li.content_image
        =image_tag 'photos/im_2.jpg', width:"350px", height: "350px", alt:"imagen"