#business
  .wrapper_business
    %h1.title
      Área de negocios
    .content_area
      Nuestra área de negocios esta orientada a satisfacer las necesidades de nuestros clientes en distintos aspectos, hoy en día emplazados en diversas zonas del país. 
      %p
        Esta decisión obedece esencialmente a la experiencia adquirida de cada uno de los profesionales que hoy componen Exoluz Ltda.
    %ul.list_business
      %li
        Ingeniería Eléctrica MT y BT 
      %li
        Mantenimiento 
      %li
        Venta de equipos Grupos Electrógenos 
      %li
        Venta de Insumos Eléctricos 
      %li
        Construcción 
      %li
        Obras Civiles 
      %li
        Habilitación 
      %li
        Remodelación
