@import 'compass';


a{text-decoration:    none}
h1,h2,h3,h4,h5,h6{
  margin:             0;
  padding:            0;
}
body{
  width:              100%;
  min-width:          1000px;
  height:             100%;
  background-color:   rgb(202, 202, 202);
  margin:             0;
  padding:            0;
  font-size:          14px;
  font-family:        "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


#wrapper{
  position:           relative;
  z-index:            1;
  left:               0;
  margin:             123px auto 0 auto;
  min-height:         400px;

  .content_wrapper{
    width:              960px;
    min-height:         400px;
    margin:             50px auto 0 auto;
  }
}

.content_page{
  background-color:     white;
  padding-top:          25px;
  width:                960px;
  margin:               0 auto;
  @include border-radius(5px);
  @include box-shadow(1px 0px 2px rgb(151, 151, 151));
}

#header{
  color:              white;
  font-size:          0;
  font-weight:        bold;
  text-align:         right;
  width:              100%;
  position:           fixed;
  top:                0;
  left:               0;
  z-index:            3;
  min-width:          960px;

  .tegic, .analityc{
    @include inline-block;
  }
  .tegic{
    img{
      height: 75px;
      margin: 3px 10px 0 10px;
    }

  }
  .block.analityc{
    text-align: left;
    width: 600px;
    @include inline-block;
    img{
      margin-top:   21px;
    }
  }

  @include box-shadow(1px 1px 3px gray);
  .header_side{
    @include inline-block;
    &.left{
      width:          70%;
      height:         80px;
      background:   asset-url('gray.png',image);
    }
    &.right{
      width:          30%;
      text-align:     left;
      background:   asset-url('black.png',image);
    }
  }
}

#footer{
  color:                white;
  font-size:            15px;
  position:             relative;
  z-index:              3;
  margin:               0 auto;
  width:                100%;
  padding:              25px 0;
  font-weight:          lighter;
  background:   asset-url('gray.png',image);
  margin-top:           25px;
  text-align:           left;
  .conten_footer{
    width:              960px;
    margin:             0 auto;
    text-align:         left;
    padding:            0 100px;
    @inlcude box-sizing(border-box);
  }
  .block{
    min-width:          250px;
    text-align:         left;
    @include inline-block(top);
    &.mixpanel{
      width:          200px;
      vertical-align: bottom;
      text-align:     right;
    }
  }
  ul{
    padding:            0;
    margin:             0;
    li{
      list-style:       none;
      padding-left:     15px;
    }
  }
  .title_f{
    text-decoration:    underline;
    font-size:          16px;
    padding-bottom:     10px;
  }
  .label{
    width:            130px;

    @include inline-block();
  }
  .show_info{
    @include inline-block;
    &:before{
      content: ":";
    }
  }
  .show_team{
    cursor:             pointer;
  }
}
.vertical_align{
  height:               100%;
  margin-left:          -2px;
  @include inline-block;
}
.load{
  width:                200px;
  height:               200px;
  margin:               0 auto;
}
#team_exoluz{
  display:              none;
  font-size:            0;
  .resumen{
    font-size:          12px;
    line-height:        18px;
  }
  .content_team{
    width:              800px;
    background-color:   white;
    padding:              20px;
  }
  .image_person,.content_description{
    @include inline-block(top);
  }
  .column{
    width:            33%;
    @include inline-block(top);
    &.right{
      text-align:     right;
    }
  }
  .block_person{
    margin-bottom:      10px;
    width:              300px;
    font-size:          12px;
    text-align:         left;
    @include inline-block;
  }
  .content_description{
    width:            300px;
    padding:          10px;
    @include box-sizing(border-box);
    .name{
      font-weight:      bold;
      padding:          5px 0;
    }
    .work{
      padding:          2px 0;
    }
    .email{
      cursor:           pointer;
      padding:          2px 0;
      text-decoration:  underline;
    }
  }
}