@import 'compass';
.conten_menu{
  width:            100%;
  position:         fixed;
  top:              80px;
  left:             0;
  border-bottom:    1px solid rgb(202, 202, 202);
  z-index:            10;
}
.menu{
  margin:             0;
  padding:            20px 0;
  text-align:         center;
  margin:             0 auto;
  width:              960px;
  background:         white;
}

.item{
    font-size:          15px;
    font-weight:        light;
    color:              black;
    min-width:          115px;
    text-align:         center;
    border-right:        1px solid gray;
    @include box-sizing(border-box);
    @include inline-block;

    &:last-child{
      border:           none;
    }

    a{
      color:            black;
      &.active{
        text-decoration:  underline;
        font-weight:      bold;
      }
      &:hover{
        text-decoration:  underline;
      }
    }
  }