.conten_footer
  .block
    .title_f
      Exoluz en Chile
    =image_tag 'chile2.png', height: 150;
  .block
    .title_f
      Contectenos
    .info
      .label
        e-mail
      .show_info
        info@exoluz.cl  
    .info
      .label
        Teléfono 
      .show_info
        055 2545367
    .info
      .label
        Casa Matriz
      .show_info
        3 oriente 2725, Calama
    .info
      .label
        Oficina Santiago
      .show_info
        Providencia 1930


#team_exoluz
  .content_team
    %h2.title
      Nuestro Equipo
    .resumen
      Actualmente, y debido a un incremento en la demanda, Exoluz Ltda. como una medida de crecimiento determinó expandir su mercado a distintas ciudades del norte, centro y sur del país, lo que llevo consigo la necesidad de generar nuevos empleos, esto con el fin de dar un enfoque técnico profesional  a las necesidades de nuestros clientes.
      Exoluz Ltda, cuenta con una estructura organizacional y una dotación de profesionales que fortalecen día a día el capital humano de nuestra empresa.
      Dichos profesionales poseen virtudes y competencias altamente reconocidas, quienes además se desarrollan en un ambiente de organización, dinámico y flexible.
    .column
      .block_person
        .content_description
          .name
            Vanessa Aravena A.
          .profesion
            Esp. Adm. De Empresas
          .work
            Socio – Gerente General

      .block_person
        .content_description
          .name
            Ricardo Vergara Rojas.
          .profesion
            Esp. Constructor Civil
          .work
            Socio - Gerente Comercial y Desarrollo
      .block_person
        .content_description
          .name
            Martin Avalos Q.
          .profesion
            Esp. Area Eléctrica.
          .work
            Jefe de Proyectos eléctricos.


      

    .column.right
      .block_person
        .content_description
          .name
            Gerardo Guajardo J.
          .profesion
            Esp. Constructor Civil
          .work
            Administrador de Obras, Zona Central

      .block_person
        .content_description
          .name
            Claudio Gallardo A.
          .profesion
            Esp. Ingeniero Constructor 
          .work
            Administrador de Obras, Zona Centro Norte
    
    .column.right
      .block_person
        .content_description
          .name
            Rodrigo Portales O.
          .profesion
            Esp. Constructor Civil
          .work
            Jefe de Proyectos l
      .block_person
        .content_description
          .name
            Ramón Aravena
          .work
            Administrador de Contratos, zona sur.


   
