.conten_footer
  .block
    .title_f
      Exoluz en Chile
    %ul
      %li
        Calama
      %li
        La Serena 
      %li
        Santiago 
      %li
        Concepción
  .block
    .title_f
      Contectenos
    .info
      e-mail: info@exoluz.cl  
    .info
      Teléfono: 055 2545367
  .block
    .title_f.show_team
      Nuestros Equipo

#team_exoluz
  .content_team
    .block_person
      .image_person
        =image_tag 'person.jpg'
      .content_description
        .name
          Vanessa Aravena A.
        .profesion
          Esp. Adm. De Empresas
        .work
          Socio – Gerente General

    .block_person
      .image_person
        =image_tag 'person.jpg'
      .content_description
        .name
          Ricardo Vergara Rojas.
        .profesion
          Esp. Constructor Civil
        .work
          Socio - Gerente Comercial y Desarrollo
          Jefe de  Proyectos y Administradores

    .block_person
      .image_person
        =image_tag 'person.jpg'
      .content_description
        .name
          Rodrigo Portales O.
        .profesion
          Esp. Constructor Civil
        .work
          Jefe de Proyectos 

    .block_person
      .image_person
        =image_tag 'person.jpg'
      .content_description
        .name
          Gerardo Guajardo J.
        .profesion
          Esp. Constructor Civil
        .work
          Administrador de Obras, Zona Central

    .block_person
      .image_person
        =image_tag 'person.jpg'
      .content_description
        .name
          Claudio Gallardo A.
        .profesion
          Esp. Ingeniero Constructor 
        .work
          Administrador de Obras, Zona Centro Norte

 
