.content_header
	.header_side.left
		.block.analityc
			%a{href:"http://mixpanel.com/f/partner"}
				%img{src:"http://mixpanel.com/site_media/images/partner/badge_blue.png", alt:"Mobile Analytics" }
	.header_side.right
		=image_tag 'pages/banner_0.png', height: 80
