<!DOCTYPE html>
%html
  %script
    (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);mixpanel.init("f233a7cd0168db3beeb8099d09b4da05");</script><!-- end Mixpanel -->
  %head
    %title Exoluz Ltda.
    / Stylesheets
    =stylesheet_link_tag    "application", :media => "all"
    -if content_for? :stylesheets
      =yield :stylesheets

    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .black_one

    #header
      =render partial: 'layouts/header'
    .content_page
      =render 'menu'
      #wrapper
        .content_wrapper
          =yield
    #footer
      =render 'layouts/footer'

  :javascript
    var render_path="#{set_render_principal_index_path}"
    var subrender_path="#{show_subrender_principal_index_path}"
