<!DOCTYPE html>
%html
  %head
    %title Exoluz Ltda.
    / Stylesheets
    =stylesheet_link_tag    "application", :media => "all"
    -if content_for? :stylesheets
      =yield :stylesheets

    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .black_one

    #header
      =render partial: 'layouts/header'
    .content_page
      =render 'menu'
      #wrapper
        .content_wrapper
          =yield
    #footer
      =render 'layouts/footer'

  :javascript
    var render_path="#{set_render_principal_index_path}"
    var subrender_path="#{show_subrender_principal_index_path}"
